body {
  max-width: 1200px;
  min-width: 800px;
  display: flex;
  justify-content: center;
}
.todostyle {
  display: flex;
  gap: 12px;
}

.todo {
  width: 200px;
  height: 200px;
  border: 1px green solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
