.header{
    width: 1200px;
    height: 70px;
    box-sizing: border-box;
    background-color: #8EC3B0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}
  
.header > span{
    font-size: 22px;
    font-weight: bold;
}

@media (max-width: 1200px) {
    .header {
        width: 100%;
    }
}